body{
    background-color: rgba(26,26,26,1)
}
.container{
    background-color: rgba(26,26,26,1)
}




  

.home-content h3 span{
    color:#0ef;
}




#mainimg{
    border-radius: 5rem;
}

#pro1{
    background-color: rgb(157, 164, 235);
}

  
  @keyframes text-fade-in {
    from { opacity: 0;
    font-size: 10px; }
    to { opacity: 1;
    font-size: 16px;}
  }
  @keyframes slideRight{
    0% { 
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0% { 
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0% { 
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0% { 
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
p{
    color: gray;
}