


<div id="pro111">
    <div class="container-fluid"style="width: 100%; height: 100%; background-color:rgb(26,26,26);">
        <div class="container" style="width: 100%; height: 100%; background-color:rgb(26, 26, 26)">
            <div class="row d-flex">
                <div class="col-xl-7 col-sm-7 col-12 mt-5 mb-5">
                    <div class="home-content">
                        <h6 style="color: azure;">Hello,👋 It's Me</h6>
                        <h3 style="color: azure;">Dilip Kumar</h3>
                        <!-- This is a comment  <h3>And I'm a <span class="text"></span></h3> -->
                        <!-- <h6 style="color: azure;"> I'm a Data Engineer.</h6> -->
                        <p style="color: rgb(235, 235, 235);"> I'm a dedicated and detail-focused Computer Science graduate, specializing in data engineering, data analysis, AI research, and machine learning. I enjoy building and improving data pipelines and creating efficient ETL workflows. <b>I bring three years of experience in data handling.</b><br></p>
                        <h6 style="color: azure;">As a Data Engineer</h6>
                        <p style="color: rgb(216, 216, 216);"> My passion lies in leveraging data to drive business impact and improve decision-making processes. I thrive in collaborative environments and enjoy working with cross-functional teams to translate complex requirements into effective technical solutions.<br>
                        <h6 style="color: azure;">I am also a Fascinated 🖌️ Designer</h6>
                        <p style="color: rgb(216, 216, 216);"> With a passion for UI/UX design, I create data dashboards that are both effective and visually appealing.<br>
                        </p>
                        </div>
                        
                  
                </div>
                <div class="col-xl-5 col-sm-5 col-12 mt-5 mb-5">
                   
                    <img [src]="'../assets/Higif.gif'" class="img-fluid mt-5" style="max-height: 400px; border-radius: 2rem;" id="pro1-1">
                    
                </div>
    
            </div>
   </div> 
   <div>
</div>

</div>

<div id="pro">
    <div class="container-fluid"style="width: 100%; height: 100%; background-color:#ffffff;">
        <div class="container" style="width: 100%; height: 100%; background-color:#ffffff;">
            <div class="d-flex justify-content-center">
                <a class="nav-link" href="/dashboard"> <h3 class="mt-3" id="dashboard">Data Journey</h3></a>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-xl-8 col-sm-7 col-12 mt-5 mb-5 ">
                    <img [src]="'../assets/images/data_dark_shade.gif'" class="img-fluid" style="max-height: 650px; ; border-radius: 1rem;" id="pro">
                </div>
                <div class="col-xl-3 col-sm-5 col-12 mt-5">
                    <p style="color: rgb(43, 40, 40);">As a data enthusiast, I enjoy building data pipelines and working with data. You can view my data tech stack here. If you want to learn more about my data journey and projects, click here. "⬇"</p>
                   
                    <button type="button" class="btn btn-danger mb-5"><a class="nav-link" href="/dashboard">Data Projects</a></button>
                </div>
            </div>
        </div> 
   <div>
</div>
</div>

<div class="container-fluid grid-for-achi">
    <div class="d-flex justify-content-center">
        <a class="nav-link" href="">
            <h3 class="mt-3" id="dashboard" style="color: #ffffff;">Achievements</h3>
        </a>
    </div>

    <div class="row justify-content-around mt-3 mb-5">
        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                    <p>AWS Data Engineering</p>
                    <hr>
                    <a href="https://www.credly.com/badges/c2603eec-0ae0-435f-948d-b2ea2804e2c7" target="_blank">
                    <img src="../assets/images/data_engineer.png" class="img-fluid" alt="AWS Data Engineering">
                    </a>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                    <p>Snowflake Data Warehouse</p>
                    <hr>
                    <a href="https://achieve.snowflake.com/ceb8c21a-b7df-4427-af2b-d8e1375958d7#acc.xcnNWDfd" target="_blank">
                        <img src="../assets/images/snowflake.PNG" class="img-fluid mb-3" alt="Snowflake Data Warehouse">
                        </a>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                    <p>Google Data Analytics</p>
                    <hr>
                    <a href="https://www.coursera.org/account/accomplishments/specialization/N5YB1K8E622W" target="_blank">
                        <img src="../assets/images/google-data.PNG" class="img-fluid mb-3" alt="Databricks Gen AI">
                        </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around mt-3 mb-5">
        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                   
                    <p>salesforce Associate</p>
                    
                    <hr>
                    <a href="https://www.salesforce.com/trailblazer/qllkkkbg2bmi5a0rkx" target="_blank">
                        <img src="../assets/images/salesforce.png" class="img-fluid mb-3" alt="Google UI/UX">
                        </a>
                </div>
            </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                   
                    <p>BI Dashboards with IBM Cognos Analytics and Google Looker</p>
                    
                    <hr>
                    <a href="https://www.coursera.org/account/accomplishments/verify/76M43XH74WSH" target="_blank">
                        <img src="../assets/images/ibm-cong.PNG" class="img-fluid mb-3" alt="Google UI/UX">
                        </a>
                </div>
            </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                   
                    <p>Google UI/UX</p>
                    
                    <hr>
                    <a href="https://www.credly.com/badges/481434b3-3fb0-4b28-84a8-f07d82b0fe1d" target="_blank">
                        <img src="../assets/images/ux-certificate.PNG" class="img-fluid mb-3" alt="Google UI/UX">
                        </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around mt-3 mb-5">
        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                   
                    <p>LeetCode</p>
                    
                    <hr>
                    <a href="https://leetcode.com/u/dilipbairi22/" target="_blank">
                        <img src="../assets/images/leetcode-profile.PNG" class="img-fluid mb-3" alt="Google UI/UX">
                        </a>
                </div>
            </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                   
                    <p>salesforce AI Associate</p>
                    
                    <hr>
                    <a href="https://www.salesforce.com/trailblazer/qllkkkbg2bmi5a0rkx" target="_blank">
                        <img src="../assets/images/salesforce-ai.PNG" class="img-fluid mb-3" alt="Google UI/UX">
                        </a>
                </div>
            </div>
        </div>
        <div class="card col-lg-3 col-md-5 col-sm-8 mt-5 shadow-effect">
            <div class="card-body">
                <div class="row justify-content-center">
                   
                    <p>Medium Blogs</p>
                    
                    <hr>
                    <a href="https://medium.com/@bairidilipkumar" target="_blank">
                        <img src="../assets/images/medium.jpg" class="img-fluid mb-3" alt="Google UI/UX">
                        </a>
                </div>
            </div>
        </div>
        
    </div>
</div>







  





<div id="pro1">
    <div class="container-fluid"style="width: 100%; height: 100%; background-color: #FEEFBA">
        <div class="container" style="width: 100%; height: 100%; background-color:#FEEFBA">
            <div class="row d-flex">
                <div class="col-xl-8 col-sm-7 col-12 mt-5 mb-5">
                    <img [src]="'../assets/images/coride.PNG'" class="img-fluid" style="max-height: 650px; border-radius: 3rem;" id="pro1">
                </div>
                <div class="col-xl-3 col-sm-5 col-12 mt-5">
                    <p>Experience the holistic solution designed for students aiming to provide Ride sharing app.</p>
                    <img [src]="'../assets/images/coride.PNG'" class="img-fluid mt-5" style="max-height: 400px; border-radius: 2rem;" id="pro1-1">
                    <h5 class="mt-5" style="color: rgb(23, 22, 22);">Co Ride</h5>
                    <button type="button" class="btn btn-danger mb-5"><a class="nav-link" href="/coride">Designing Project</a></button>
                </div>
    
            </div>
        </div> 
   <div>
</div> 





























<!-- <div id="pro">
    <div class="container-fluid"style="width: 100%; height: 100%; background-color: #F9F9F9">
        <div class="container" style="width: 100%; height: 100%; background-color: #F9F9F9">
            <div class="d-flex justify-content-center">
                <h3 class="mt-3" id="dashboard">Task Management</h3>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-xl-3 col-sm-5 col-12 mt-5">
                    <p style="color: rgb(43, 40, 40);">Coming soon...</p>
                </div>
                <div class="col-xl-8 col-sm-7 col-12 mt-5 mb-5 ">
                    <img [src]="'../assets/images/Task.png'" class="img-fluid" style="max-height: 650px; ; border-radius: 1rem;" id="pro">
                </div>
    
            </div>
        </div> 
   <div>
</div>
</div> -->



<!-- <div id="po2">
    <div class="container-fluid"style="width: 100%; height: 100%; background-color: #D8D7D9">
        <div class="d-flex justify-content-center">
            <h3 class="mt-3" id="dashboard">Dashboards</h3>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12 col-sm-12 col-12 mt-5 mb-5">
                <img [src]="'../assets/images/dashboard.png'" class="img-fluid" style="max-height: 650px; max-width: 100%; border-radius: 1rem;" id="pro2">
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a class="nav-link" href="/dashboard"><p id="dashboard">View All Dashboards -></p></a>
        </div>
    </div>
</div> -->






  

  