
<div class="container-fluid"style="width: 100%; height: 46vh; background-color: rgba(26,26,26,1);">
    <div class="container">
        <div class="col">
            <div class="col-md-6 col-sm-5">
                <div class="row d-flex flex-column">
                    <h5 class="mt-5" style="color: rgb(255, 255, 255);" id="cursor-pointer">I'm always up for a chat ☕</h5>
                   <br>
                    <button class="btn btn-light" (click)="openMail()">dilipbairixgmail.com</button>
                    <a class="nav-link" href="https://drive.google.com/file/d/1noW7ijx17qSRd83ActkQY63LvGUYMkO9/view?usp=sharing" target="_blank_" style="color:aliceblue" class="btn-link mt-3" id="cursor-pointer"><p>Resume</p></a>
                </div>
            </div>

           
                    <!-- <img [src]="'../assets/images/LinkedIn1.png'" class="img-fluid" style="width: 120px; height: 60px;">
                    <img [src]="'../assets/images/Instagram.png'" class="img-fluid" style="width: 80px; height: 60px;"> -->

        </div>
        <div class="row">
            <div class="d-flex justify-content-end">
                <a href="https://leetcode.com/dilipbairi22/" target="_blank">
                  <img src="../assets/images/LeetCode.png" class="img-fluid" style="width: 50px; height: 50px;">
                </a>
                <a href="https://www.linkedin.com/in/dilip-kumar-bairi-113364207/" target="_blank">
                  <img src="../assets/images/LinkedIn1.png" class="img-fluid" style="width: 80px; height: 50px;">
                </a>
                <a href="https://www.instagram.com/tuiux6/" target="_blank">
                  <img src="../assets/images/Instagram.png" class="img-fluid" style="width: 50px; height: 50px; margin-right: 1rem">
                </a>
                <a href="https://github.com/bairidilipkumar?tab=repositories" target="_blank">
                  <img src="../assets/images/github2.png" class="img-fluid" style="width: 50px; height: 50px;">
                </a>
              </div>
        </div>

    </div>

 </div>
