
<div class="container-fluid"style="width: 100%; height: 50vh; background-color: #000000;">
    <div class="container">
        <div class="col">
            <div class="col-md-6 col-sm-5">
                <div class="row">
                    <h1 class="mt-5" style="color: antiquewhite;" id="cursor-pointer">Get in touch</h1>
                    <button type="button" class="btn btn-primary">dilipbairigmail.com</button>
                    <p style="color:aliceblue" class="btn-link" id="cursor-pointer" >resume</p>
    
                </div>
    
            </div>
            <div class="col-md-6 col-sm-6">
    
            </div>
    
        </div>

    </div>

    </div>
