
<div id="pro111">
    <div class="container-fluid"style="width: 100%; height: 100%; ">
        <div class="container" style="width: 100%; height: 100%; ">
            <div class="col-md-12 col-sm-12 d-flex justify-content-center mt-3">
                <h1>Passion over Data</h1>
            </div>
            <div class="col-md-12 col-sm-12 d-flex justify-content-center">
                <p>Building dashboards with a "passion over data" approach which mean focusing  on creating visually appealing, engaging, and user-friendly designs with prioritizing data accuracy, complexity, or quantity. From my professional experience, I have worked extensively on building dashboards. This involved utilizing SSAS services and conducting ETL operations, including the development and maintenance of pipelines.</p>
            </div>
            <p>Some of my Dashboards down here 👇🏼</p>
   </div> 
   <div>
  </div>

<div class="container">
    <div class="row mt-2 mb-5">
        <div class="col-md-12 col-s-12">
            <div class="home-content">
                <h3 style="color: rgb(0, 0, 0); margin-top: 3rem; font-size:2rem;">Car Sales Dashboard </h3>
                <img [src]="'../assets/images/car_dashboard.PNG'" class="img-fluid" style="max-height: 650px; max-width: 100%; border-radius: 3rem;" id="pro2">
                <h6 style="color: rgb(0,0,0);" class="mt-3">About Dashboard and tools used?</h6>
                <p>To create the above dashboard, I utilized Tableau Public, which offers an extremely user-friendly interface. This dashboard primarily focuses on analyzing yearly car sales and comparing them to the previous year to identify improvements in sales. Initially, I developed key performance indicators (KPIs) such as year-to-date total sales, year-to-date car sales, and year-to-date average sales.

                    Following that, I proceeded to create trends in sales on a week-to-week basis using Line graph. This was accompanied by a pie chart illustrating the sales data based on the body styles of cars that were sold the most. Additionally, a donut chart was used to display which colors of cars were sold more frequently.
                    <br>
                   <br> Moving on to the next section, the dashboard presents year-to-date dealer data, showcasing the business conducted by dealers categorized by region. Finally, there is a table displaying the types of company cars sold annually and the total business conducted categorized by the company whose cars were sold.
                    <br>
                   <br> On the left side of the dashboard, there are filters available. These filters allow users to customize the data displayed based on their preferences.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-5">
        <div class="col-md-12 col-s-12">
            <div class="home-content">
                <h3 style="color: rgb(0, 0, 0); margin-top: 3rem; font-size:2rem;">HR Dashboard </h3>
                <img [src]="'../assets/images/hr_dashboard.PNG'" class="img-fluid" style="max-height: 650px; max-width: 100%; border-radius: 3rem;" id="pro2">
                <h6 style="color: rgb(0,0,0);" class="mt-3">About Dashboard and tools used?</h6>
                <p>To create the above dashboard, I utilized Tableau Public. This HR dashboard focuses on monitoring employee dynamics within the company, including new hires, departures, reasons for leaving, job satisfaction levels, and employee backgrounds.

                    <br>Starting with key performance indicators (KPIs), the dashboard displays the total number of employees in the company, the active rate, attrition count, and attrition percentage. Additionally, it includes a gender-based filter to analyze the demographics of employees leaving the company.
                    <br>
                   <br> The first visual element is a pie chart illustrating department-wise attrition rates. This is followed by bar graphs depicting the distribution of employees across different age groups. A table presents data on job satisfaction levels based on employee ratings.
                    <br>
                    <br>The next section begins with a bar chart showcasing attrition rates in various education fields, followed by a donut chart highlighting attrition rates by gender across different age groups.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-2 mb-5">
        <div class="col-md-12 col-s-12">
            <div class="home-content">
                <h3 style="color: rgb(0, 0, 0); margin-top: 3rem; font-size:2rem;">Store Sales Dashboard </h3>
                <img [src]="'../assets/images/dashboard_ma.PNG'" class="img-fluid" style="max-height: 650px; max-width: 100%; border-radius: 3rem;" id="pro2">
                <h6 style="color: rgb(0,0,0);" class="mt-3">About Dashboard and tools used?</h6>
                <p>To create the above dashboard, I utilized Tableau Public, which offers an extremely user-friendly interface. This dashboard primarily focuses on analyzing yearly car sales and comparing them to the previous year to identify improvements in sales. Initially, I developed key performance indicators (KPIs) such as year-to-date total sales, year-to-date car sales, and year-to-date average sales.

                    Following that, I proceeded to create trends in sales on a week-to-week basis using Line graph. This was accompanied by a pie chart illustrating the sales data based on the body styles of cars that were sold the most. Additionally, a donut chart was used to display which colors of cars were sold more frequently.
                    <br>
                   <br> Moving on to the next section, the dashboard presents year-to-date dealer data, showcasing the business conducted by dealers categorized by region. Finally, there is a table displaying the types of company cars sold annually and the total business conducted categorized by the company whose cars were sold.
                    <br>
                   <br> On the left side of the dashboard, there are filters available. These filters allow users to customize the data displayed based on their preferences.
                </p>
            </div>
        </div>
    </div>
  </div>