<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">



<!--<div class="row justify-content-center">
  <div class="col-md-6">
    <h3 class="ustify-content-center">About Me</h3>
   <div class="diamond-tex">
    <p>  Bootstrap provides two powerful methods to center elements within a 
      row class. The first, using the justify-content-center utility class,
  offers a quick and convenient way to achieve horizontalcentering. Alternatively, 
for more granular control, you can leverage flexbox properties with the d-flex class. 
Remember that these methods center content horizontally within the row. If vertical 
centering is also desired, additional CSS might be necessary depending on your 
    content and layout. By strategically employing these techniques, you 
    can create visually balanced and user-friendly web pages with 
                                 Bootstrap.</p>
   </div>
    </div>
</div>
-->





<div id="pro111">
  <div class="container-fluid"style="width: 100%; height: 100%; ">
      <div class="container" style="width: 100%; height: 100%; ">
          <div class="row d-flex">
              <div class="col-xl-7 col-sm-7 col-12 mt-5 mb-5">
                  <div class="home-content">
                    <h1 style="color: rgb(0, 0, 0); margin-top: 6rem; font-size:4rem;">Connect With Me!</h1>
                    <h6 style="color: rgb(0,0,0);">Know More about Me</h6>
                    <a href="https://www.linkedin.com/in/dilip-kumar-bairi-113364207/" target="_blank">
                      <img src="../assets/images/linkedin-btn.png" class="img-fluid" style="width: 170px; height: 70px; border-radius: 3px solid black;">
                    </a>
                    <!-- <p>I will become the king of Technologies</p> -->
                   <!-- This is a comment  <h3>And I'm a <span class="text"></span></h3> -->
                    <p>
                    </p>
                     
                  </div>
                
              </div>
              <div class="col-xl-5 col-sm-5 col-12 mt-5 mb-5">
                 
                  <img [src]="'../assets/images/dilip.jpg'" class="img-fluid mt-5" style="height: 300px; border-radius: 1.3rem;" id="pro1-1">
                  
              </div>
  
          </div>
 </div> 
 <div>
</div>


<div class="row justify-content-around mt-3 mb-5">
  <div class="card col-xl-6 col-sm-12 col-12  mt-5" style="max-width: 35rem; max-height: 40rem;">
      <div class="card-body">
        <div class="row justify-content-center">
         
          <p>Master's in computer science</p>
          <hr>
          <br>
          <img [src]="'../assets/images/ttu.jpg'" class="img-fluid" style="height: 300px; width: 400px;">
          <p>January 2023- December 2024 (3.7/4.0).</p>
          <b>Relevent Coursework</b>
          <p>Securing High-Dimensional Big Data, Quantuam Information, Advanced Operating system, Pattern Recognition</p>
        </div>
      </div>
    </div>

    <div class="card col-xl-6 col-sm-12 col-12  mt-5" style="max-width: 35rem; max-height: 40rem;">
      <div class="card-body">
        <div class="row justify-content-center">
     
          <p>Bachelor's in Computer Science</p>
          <hr>
          <br>
          <img [src]="'../assets/images/kakatiya.png'" class="img-fluid mb-3" style="height: 300px; width: 500px;">
          <p>August 2018 - May 2022 (3.5/4.0)</p>
          <b>Relevent Coursework</b>
          <p>Cloud computing, Machine Learning, Data warehouse and Data Mining, Java, Python, Database Management system(SQL)</p>
        </div>
      </div>
    </div>
</div>
<div class="container text-center">
  <h1>Professional Experience</h1>
</div>



<div class="row justify-content-around mt-3 mb-3">
  <div class="card col-xl-12 col-sm-12 col-12 mt-5" style="max-width: 88%; min-height: 30rem;">
    <div class="card-body">
      <div class="row">
        <!-- Text and Image in separate columns -->
        <div class="col-12 col-md-8">
          <!-- Left side: Text content -->
          <div class="text-content">
            <p><strong>Associate Data Engineer</strong> (Aug 2022 - Dec 2022)</p>
            
            <p><strong>Data Engineering:</strong></p>
            <p>ETL Tools & Processes: PySpark, Apache Spark<br>
               Platforms: Databricks, Google Big Query<br>
               Data Cleaning & Preparation: Python, SQL</p>
            
            <p><strong>Data Visualization:</strong></p>
            <p>Tool: AWS QuickSight</p>
            
            <p><strong>Performance Optimization:</strong></p>
            <p>Improved banking application performance by 30%</p>
            <p>I have worked with Databricks and Google BigQuery, where I developed PySpark and Apache Spark scripts to streamline ETL workflows. I created dashboards in aws Quick Sight, which are used by over 1,000 customers, and regularly maintained and updated them.I also helped speed up a banking application by 30%, making it easier for customers to access their data, and worked on additional tasks focused on cleaning and preparing data</p>
          </div>
        </div>

        <!-- Right side: Image -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img src="../assets/images/infosys.png" class="img-fluid mb-3" style="max-width: 100%; height: auto; object-fit: contain; border-radius: 1rem;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-around mt-1 mb-5">
  <div class="card col-xl-12 col-sm-12 col-12 mt-5" style="max-width: 88%; min-height: 40rem;">
    <div class="card-body">
      <div class="row">
        <!-- Text and Image in separate columns -->
        <div class="col-12 col-md-8">
          <!-- Left side: Text content -->
          <div class="text-content">
            <p><strong>Junior Data Engineer</strong> (Sep 2021 - May 2022)</p>
            <hr>
            <p><strong>Data Engineering:</strong></p>
            <p>Data Modeling: Star Schema, Snowflake Schema<br>
              ETL Tools & Processes: SQL Server Integration Services (SSIS), AWS Glue, PySpark<br>
              Data Cleaning & Transformation: PySpark, SQL</p>

            <p><strong>Databases:</strong></p>
            <p>SQL (T-SQL), MongoDB, DynamoDB</p>

            <p><strong>Data Analytics & Visualization:</strong></p>
            <p>Languages: Python, SQL<br>
              Visualization Tools: Power BI, Tableau</p>

            <p><strong>Cloud & Big Data:</strong></p>
            <p>AWS Services: S3, DynamoDB</p>

            <p><strong>Development Processes:</strong></p>
            <p>Agile Development (Sprint-based improvements and user stories)</p>
          </div>
        </div>

        <!-- Right side: Image -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img src="../assets/images/chubb.jpg" class="img-fluid mb-3" style="max-width: 100%; height: auto; object-fit: contain; border-radius: 1rem;">
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row justify-content-around mt-3 mb-3">
  <div class="card col-xl-12 col-sm-12 col-12 mt-5" style="max-width: 88%; min-height: 30rem;">
    <div class="card-body">
      <div class="row">
        <!-- Text and Image in separate columns -->
        <div class="col-12 col-md-8">
          <!-- Left side: Text content -->
          <div class="text-content">
            <p><strong>Student Assistant Data Analyst.</strong> (May 2023 - Dec 2024) </p>
            
            <p><strong>Data Analytics:</strong></p>
            <p>Tools: Power BI, Python</p>
            <p>Techniques: Exploratory Data Analysis (EDA), Business Trend Analysis</p>

            <p><strong>Data Querying:</strong></p>
            <p>Language: SQL</p>

            <p><strong>Workflow Management:</strong></p>
            <p>Task: Call Routing, Workflow Oversight</p>
            <p>Analyzed business datasets using Power BI to identify trends and generate insights. Managed call routing and workflow processes. Utilized SQL for data querying and Python for exploratory data analysis (EDA) to extract actionable insights.</p>
          </div>
        </div>

        <!-- Right side: Image -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img src="../assets/images/ttu.jpg" class="img-fluid mb-3" style="max-width: 100%; height: auto; object-fit: contain; border-radius: 1rem;">
        </div>
      </div>
    </div>
  </div>
</div>








<div class="container">
  <div class="row mt-5 mb-5">
      <div class="col-md-12 col-s-6 ">
          <div class="home-content">
              <h3 style="color: rgb(0, 0, 0); margin-top: 6rem; font-size:4rem;">About Me!</h3>
              <h6 style="color: rgb(0,0,0);">What kind of work I can do?</h6>
              <p>I am a passionate Data Engineer with proven experience in AWS and a solid foundation in building data pipelines. I thrive on creating efficient data architectures that enable exceptional data processing and analysis.

                Beyond development, I leverage my skills in data analysis and machine learning with powerful tools like Python to extract meaningful insights from data, driving innovative solutions that support business objectives.
                
                I am actively seeking opportunities to contribute my expertise and make a real impact on data-driven products that users will value. I am alos fascinatedUI/UX and front end develping. </p>
             <!-- This is a comment  <h3>And I'm a <span class="text"></span></h3> -->
             <br>
             <h6 style="color: rgb(0,0,0);">How i am as person and what is my personality?</h6>
             <p> I am a disciplined, empathetic, and well-organized individual persopn, with a friendly disposition. I throw myself in challenges, believing that each intricate situation presents an opportunity to further develop and refine aspects of my personality and increase tenacity.  </p>
             <br>
             <h6 style="color: rgb(0,0,0);">What am I doing when I am not in front of a screen?</h6>
             <p>I spend most of my time hitting the gym 🏋🏼‍♀️, aiming to sculpt my body because I believe that if I don't start now, I won't achieve my goals someday. I'm also passionate about learning how the economy system works; I regularly dive into economy-related topics. Additionally, I have an interest in cooking 🍳 and sword ⚔️ collections. In my leisure time, I enjoy watching movies🎬, with anime being my favorite genre, alongside Marvel movies moreover I like listening music 🎼 and video editing a lot. </p>
             <br>
             <p>THANKS FOR STOPPING BY!</p>
             <br>
             <p>My skills and tools I can use are down here 👇🏼</p>
          </div>
      </div>
  </div>
</div>


























<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4>Designing Tech Stack</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    <img [src]="'../assets/images/figma.png'" class="img-fluid" style="width: 50px; height: 60px;">
                </div>
                <div class="media-body text-right">
                  <h5>Figma</h5>
                  <!-- <span>75%</span>
                  <div class="progress mt-1 mb-0" style="height: 7px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    <img [src]="'../assets/images/figma.png'" class="img-fluid" style="width: 40px; height: 60px;">
                </div>
                <div class="media-body text-right">
                  <h5>FigJam</h5>
                  <!-- <span>80%</span>
                  <div class="progress mt-1 mb-0" style="height: 7px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    <img [src]="'../assets/images/miro-2.svg'" class="img-fluid" style="width: 50px; height: 60px;">
                </div>
                <div class="media-body text-right">
                  <h5>Miro</h5>
                  <!-- <span> 80%</span>
                  <div class="progress mt-1 mb-0" style="height: 7px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                    <img [src]="'../assets/images/framer-512.webp'" class="img-fluid" style="width: 50px; height: 60px;">
                </div>
                <div class="media-body text-right">
                  <h5>Framer</h5>
                  <!-- <span>50%</span>
                  <div class="progress mt-1 mb-0" style="height: 7px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4>Developing Tech Stack</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                        <img [src]="'../assets/images/html.png'" class="img-fluid" style="width: 50px; height: 60px;">
                    </div>
                    <div class="media-body text-right">
                      <h5>HTML</h5>
                      <!-- <span>80%</span>
                      <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                        <img [src]="'../assets/images/css.png'" class="img-fluid" style="width: 40px; height: 60px;">
                    </div>
                    <div class="media-body text-right">
                      <h5>CSS</h5>
                      <!-- <span>80%</span>
                      <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                        <img [src]="'../assets/images/js.webp'" class="img-fluid" style="width: 50px; height: 60px;">
                    </div>
                    <div class="media-body text-right">
                      <h5>javascript</h5>
                      <!-- <span> 50%</span>
                      <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12"> 
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                        <img [src]="'../assets/images/ts.png'" class="img-fluid" style="width: 50px; height: 50px;">
                    </div>
                    <div class="media-body text-right">
                      <h5>Typescript</h5>
                      <!-- <span>60%</span>
                      <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12"> 
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                          <img [src]="'../assets/images/bootstrap.png'" class="img-fluid" style="width: 50px; height: 60px;">
                      </div>
                      <div class="media-body text-right">
                        <h5>Bootstrap</h5>
                        <!-- <span>80%</span>
                        <div class="progress mt-1 mb-0" style="height: 7px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12"> 
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                          <img [src]="'../assets/images/angular.png'" class="img-fluid" style="width: 40px; height: 60px;">
                      </div>
                      <div class="media-body text-right">
                        <h5>Angular</h5>
                        <!-- <span>60%</span>
                        <div class="progress mt-1 mb-0" style="height: 7px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>


           
              <div class="row">
                <div class="col-12 mt-3 mb-1">
                  <h4>Languages</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-12"> 
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                              <img [src]="'../assets/images/cplus.png'" class="img-fluid" style="width: 70px; height: 60px;">
                          </div>
                          <div class="media-body text-right">
                            <h5>C++</h5>
                            <!-- <span>50%</span>
                            <div class="progress mt-1 mb-0" style="height: 7px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12"> 
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                              <img [src]="'../assets/images/cash.png'" class="img-fluid" style="width: 50px; height: 60px;">
                          </div>
                          <div class="media-body text-right">
                            <h5>C#</h5>
                            <!-- <span>60%</span>
                            <div class="progress mt-1 mb-0" style="height: 7px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12"> 
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                              <img [src]="'../assets/images/java.svg'" class="img-fluid" style="width: 80px; height: 60px;">
                          </div>
                          <div class="media-body text-right">
                            <h5>Java</h5>
                            <!-- <span>60%</span>
                            <div class="progress mt-1 mb-0" style="height: 7px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-xl-3 col-sm-6 col-12"> 
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                              <img [src]="'../assets/images/python.svg'" class="img-fluid" style="width: 80px; height: 60px;">
                          </div>
                          <div class="media-body text-right">
                            <h5>Python</h5>
                            <!-- <span>60%</span>
                            <div class="progress mt-1 mb-0" style="height: 7px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                </div>
                <div class="row">
                  <div class="col-12 mt-3 mb-1">
                    <h4>Data Tech Stack</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                                <img [src]="'../assets/images/sql.png'" class="img-fluid" style="width: 70px; height: 60px;">
                            </div>
                            <div class="media-body text-right">
                              <h5>SQL</h5>
                              <!-- <span>80%</span>
                              <div class="progress mt-1 mb-0" style="height: 7px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                                <img [src]="'../assets/images/Power-B.png'" class="img-fluid" style="width: 50px; height: 60px;">
                            </div>
                            <div class="media-body text-right">
                              <h5>Power BI</h5>
                              <!-- <span>60%</span>
                              <div class="progress mt-1 mb-0" style="height: 7px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                                <img [src]="'../assets/images/python.svg'" class="img-fluid" style="width: 80px; height: 60px;">
                            </div>
                            <div class="media-body text-right">
                              <h5>Python</h5>
                              <!-- <span>60%</span>
                              <div class="progress mt-1 mb-0" style="height: 7px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
  
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                                <img [src]="'../assets/images/excel.png'" class="img-fluid" style="width: 60px; height: 40px;">
                            </div>
                            <div class="media-body text-right">
                              <h5>Excel</h5>
                              <!-- <span>60%</span>
                              <div class="progress mt-1 mb-0" style="height: 7px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/hadoop.png'" class="img-fluid" style="width: 90px; height: 80px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>Hadoop</h5>
                                <!-- <span>50%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/images.png'" class="img-fluid" style="width: 90px; height: 80px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>pyspark</h5>
                                <!-- <span>70%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/airflow.webp'" class="img-fluid" style="width: 90px; height: 80px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>Airflow</h5>
                                <!-- <span>50%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/databricks.jpg'" class="img-fluid" style="width: 90px; height: 80px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>Databricks</h5>
                                <!-- <span>50%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>



                    <div class="row">
                      <div class="col-xl-3 col-sm-6 col-12"> 
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="media d-flex">
                                <div class="align-self-center">
                                    <img [src]="'../assets/images/ssis.png'" class="img-fluid" style="width: 70px; height: 60px;">
                                </div>
                                <div class="media-body text-right">
                                  <h5>SSIS</h5>
                                  <!-- <span>70%</span>
                                  <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-3 col-sm-6 col-12"> 
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="media d-flex">
                                <div class="align-self-center">
                                    <img [src]="'../assets/images/tableau.jpg'" class="img-fluid" style="width: 70px; height: 60px;">
                                </div>
                                <div class="media-body text-right">
                                  <h5>Tableau</h5>
                                  <!-- <span>60%</span>
                                  <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12"> 
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="media d-flex">
                                <div class="align-self-center">
                                    <img [src]="'../assets/images/dynamodb.jpg'" class="img-fluid" style="width: 70px; height: 60px;">
                                </div>
                                <div class="media-body text-right">
                                  <h5>DynamoDB</h5>
                                  <!-- <span>60%</span>
                                  <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12"> 
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="media d-flex">
                                <div class="align-self-center">
                                    <img [src]="'../assets/images/lambda.jpg'" class="img-fluid" style="width: 70px; height: 60px;">
                                </div>
                                <div class="media-body text-right">
                                  <h5>lambda</h5>
                                  <!-- <span>60%</span>
                                  <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>



                      </div>


                      <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12"> 
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <div class="media d-flex">
                                  <div class="align-self-center">
                                      <img [src]="'../assets/images/rds.jpg'" class="img-fluid" style="width: 70px; height: 60px;">
                                  </div>
                                  <div class="media-body text-right">
                                    <h5>RDS</h5>
                                    <!-- <span>70%</span>
                                    <div class="progress mt-1 mb-0" style="height: 7px;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="col-xl-3 col-sm-6 col-12"> 
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <div class="media d-flex">
                                  <div class="align-self-center">
                                      <img [src]="'../assets/images/s3.png'" class="img-fluid" style="width: 70px; height: 60px;">
                                  </div>
                                  <div class="media-body text-right">
                                    <h5>S3</h5>
                                    <!-- <span>70%</span>
                                    <div class="progress mt-1 mb-0" style="height: 7px;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12"> 
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <div class="media d-flex">
                                  <div class="align-self-center">
                                      <img [src]="'../assets/images/redshift.png'" class="img-fluid" style="width: 70px; height: 60px;">
                                  </div>
                                  <div class="media-body text-right">
                                    <h5>Redshift</h5>
                                    <!-- <span>60%</span>
                                    <div class="progress mt-1 mb-0" style="height: 7px;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12"> 
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <div class="media d-flex">
                                  <div class="align-self-center">
                                      <img [src]="'../assets/images/bigquery.jpg'" class="img-fluid" style="width: 70px; height: 60px;">
                                  </div>
                                  <div class="media-body text-right">
                                    <h5>Google Big Query</h5>
                                    <!-- <span>60%</span>
                                    <div class="progress mt-1 mb-0" style="height: 7px;">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
  
  
  
                        </div>




                  <div class="row">
                    <div class="col-12 mt-3 mb-1">
                      <h4>Tools</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/git.png'" class="img-fluid" style="width: 70px; height: 60px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>Git</h5>
                                <!-- <span>50%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/github.png'" class="img-fluid" style="width: 50px; height: 60px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>GitHub</h5>
                                <!-- <span>60%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/Jira.png'" class="img-fluid" style="width: 60px; height: 59px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>Jira</h5>
                                <!-- <span>60%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
    
    
                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                  <img [src]="'../assets/images/postman.svg'" class="img-fluid" style="width: 80px; height: 60px;">
                              </div>
                              <div class="media-body text-right">
                                <h5>Postman</h5>
                                <!-- <span>80%</span>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                    <div class="row">
                      <div class="col-xl-3 col-sm-6 col-12"> 
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="media d-flex">
                                <div class="align-self-center">
                                    <img [src]="'../assets/images/vscode.png'" class="img-fluid" style="width: 70px; height: 60px;">
                                </div>
                                <div class="media-body text-right">
                                  <h5>VS Code</h5>
                                  <!-- <span>90%</span>
                                  <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12"> 
                        <div class="card">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="media d-flex">
                                <div class="align-self-center">
                                    <img [src]="'../assets/images/eclipse.png'" class="img-fluid" style="width: 50px; height: 60px;">
                                </div>
                                <div class="media-body text-right">
                                  <h5>Eclipse</h5>
                                  <!-- <span>60%</span>
                                  <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                      
                      </div>

  </section>
  
 <!-- <section id="stats-subtitle">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h4 class="text-uppercase">Statistics With Subtitle</h4>
      <p>Statistics on minimal cards with Title &amp; Sub Title.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-pencil primary font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
                <h4>Total Posts</h4>
                <span>Monthly blog posts</span>
              </div>
              <div class="align-self-center">
                <h1>18,000</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-speech warning font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
                <h4>Total Comments</h4>
                <span>Monthly blog comments</span>
              </div>
              <div class="align-self-center"> 
                <h1>84,695</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <h1 class="mr-2">$76,456.00</h1>
              </div>
              <div class="media-body">
                <h4>Total Sales</h4>
                <span>Monthly Sales Amount</span>
              </div>
              <div class="align-self-center">
                <i class="icon-heart danger font-large-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <h1 class="mr-2">$36,000.00</h1>
              </div>
              <div class="media-body">
                <h4>Total Cost</h4>
                <span>Monthly Cost</span>
              </div>
              <div class="align-self-center">
                <i class="icon-wallet success font-large-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>-->