.navbar{
    background-color:rgba(26,26,26,1)
}
.nav-item{
    font-size: 18px;
}
.navbar-nav{
    margin-right: 90px;

}
.nav-item .nav-link{
    margin-top:20px;
    color: rgba(245,245,245,1);
}
.nav-link:hover{
    color:#f2f1f1;
    text-decoration: underline 2px;
    cursor: pointer;
}
.nav-item{
    margin-right: 5px;
}
.name{
    
    margin-bottom: 0.80rem;
    color: rgba(245,245,245,1);
}
.caption{
   /* margin-left:8rem; */
    color: #473737;
    margin-top: -1rem;
}




  


  
  @keyframes text-fade-in {
    from { opacity: 0;
    font-size: 10px; }
    to { opacity: 1;
    font-size: 16px;}
  }

  @keyframes text-fade-in {
    from { opacity: 0;
    font-size: 10px; }
    to { opacity: 1;
    font-size: 16px;}
  }
  .navbar-toggler-icon
  {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
  }