<img [src]="'../assets/images/coride4.png'" id="mainimg">
<!-- <div id="intro">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7">
                <p class="mt-5">
                    University students are in need of a centralized platform to navigate the complexities of Travelling, which is budget friendly, safe and more flexible to choose,
                </p>
            </div>
            <div class="col-xl-10">
                <p class="mb-5">
    “How might we design an intuitive app that centralizes rides Problems faced my internationl and Local University students.
                </p>
            </div>

        </div>

    </div>
</div> -->

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm">
            <div class="col justify-content-center">
                <h6 style="color: rgb(83, 81, 81);">Demo/Prototype</h6>
                <button type="button" class="btn btn-outline-secondary"><a href="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FlPNMqJ79rTo7sSV4XPYHSN%2FUntitled%3Fnode-id%3D44-2%26t%3DxnQSM50WafO7CPro-1%26scaling%3Dscale-down%26page-id%3D29%253A92%26starting-point-node-id%3D44%253A2" class="nav-link" target="__blank">Live Prototype</a></button>
            </div>
        </div>
        <div class="col-sm mt-3">
            <div class="col justify-content-center">
                <h6 style="color: rgb(83, 81, 81);" >Role</h6>
                <p style="color: rgb(53, 51, 51);">User Researcher<br>
                    Prototyping<br>
                    Visual Design</p>
            </div>
        </div>
        <div class="col-sm mt-3">
            <div class="col justify-content-center">
                <h6 style="color: rgb(83, 81, 81);">Duration</h6>
                <p style="color: rgb(53, 51, 51);">2 Months</p>
            </div>
        </div>
        <div class="col-sm mt-3">
            <div class="col justify-content-center">
                <h6 style="color: rgb(83, 81, 81);">Tools</h6>
                <p style="color: rgb(53, 51, 51);">Figma<br>
                Fig-Jam</p>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mt-3">
          <div class="card ">
            <div class="card-body">
              <div class="row">
                <img [src]="'../assets/images/alert.svg'" class="img-fluid" style="max-height: 45px;">
                <h5 class="card-title">The Problem</h5>
              </div>
              <p class="card-text" style="color: rgb(73, 71, 71);">University students are in need of a centralized platform to navigate the complexities of Travelling, which is budget friendly, safe and more flexible to choose.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
            <div class="card ">
                <div class="card-body">
                  <div class="row">
                    <img [src]="'../assets/images/target.svg'" class="img-fluid" style="max-height: 45px;">
                    <h5 class="card-title">The Challenge</h5>
                  </div>
                  <p class="card-text" style="color: rgb(73, 71, 71);">“How might we design an intuitive app that centralizes rides Problems faced my internationl and Local University students.<span style="color: rgb(255, 255, 255);">and Local University</span></p>
                </div>
              </div>
      </div>
</div>
<div class="container mt-5">
    <h6>Interviews</h6>
    <P>To understand the experiences students have faced in various ride situations, we conducted nine user interviews with students from different university and college programs. Our questions focused on three main metrics</P>
</div>
<br>


<div class="row justify-content-around mt-3 mb-5">
    <p class="mt-3 mb-2">Interview Question Criteria</p>
    <br>
    <div class="card bg-light mt-5" style="max-width: 13rem; max-height: 15rem;">
        <div class="card-body">
          <div class="row">
            <img [src]="'../assets/images/help.svg'" class="img-fluid" style="max-height: 45px;">
            <h5 class="card-title">Communication</h5>
          </div>
        </div>
      </div>

      <div class="card bg-light  mt-5" style="max-width: 13rem; max-height: 15rem;">
        <div class="card-body">
          <div class="row">
            <img [src]="'../assets/images/help.svg'" class="img-fluid" style="max-height: 45px;">
            <h5 class="card-title" style="margin-left: 2.6rem;">  Safety</h5>
          </div>
        </div>
      </div>

      <div class="card bg-light  mt-5" style="max-width: 13rem; max-height: 15rem;">
        <div class="card-body">
          <div class="row">
            <img [src]="'../assets/images/help.svg'" class="img-fluid" style="max-height: 45px;">
            <h5 class="card-title" style="margin-left: 2.4rem;">Reliablity</h5>
          </div>
        </div>
      </div>
</div>
<br>
<br>

<div class="container mt-5">
    <h6>Insights</h6>
</div>
<br>
<div class="row justify-content-around mt-3 mb-5">
    <p class="mt-3 mb-2">Interview Question Criteria</p>
    <br>
    <div class="card  mt-5" style="max-width: 24rem; max-height: 20rem;">
        <div class="card-body">
          <div class="row justify-content-center">
           
            <p>Students felt it was difficult to manage and communicate with riders?</p>
            <hr>
            <br>
            <img [src]="'../assets/images/person3.png'" class="img-fluid mb-3" style="height: 40px; width: 45px;">
            <p>“When a ride is scheduled, it may occasionally be moved earlier or later for various reasons. It is important to maintain open and friendly communication so the person can understand the situation and follow up with us accordingly.</p>
          </div>
        </div>
      </div>

      <div class="card  mt-5" style="max-width: 24rem; max-height: 20rem;">
        <div class="card-body">
          <div class="row justify-content-center">
       
            <p>Troubles locating flexible and budget friendly rides?</p>
            <hr>
            <br>
            <img [src]="'../assets/images/person3.png'" class="img-fluid mb-3" style="height: 40px; width: 45px;">
            <p>“With regular ride apps, the fare is fixed and non-negotiable, which can be unaffordable for students, especially international ones. However, when rides are provided by peers, there is more flexibility in pricing</p>
          </div>
        </div>
      </div>
</div>
<div class="row justify-content-center mt-3 mb-5">
    <br>
    <div class="card  mt-5" style="max-width: 24rem; max-height: 20rem;">
        <div class="card-body">
          <div class="row justify-content-center">
            <p>Students have trust issues with raiders?</p>
            <hr>
            <br>
            <img [src]="'../assets/images/person3.png'" class="img-fluid mb-3" style="height: 40px; width: 45px;">
            <p>“People are often wary of taking rides from strangers, raising concerns about safety. How can the company ensure and justify the security and safety of the rides they provide? What measures are in place if a driver lacks a valid license and a proper driving history?                                      .</p>

           </div>
          </div>
        </div>
      </div>
</div>
<br>


<div class="container">
    <h3>Brainstorming</h3>
    <p class="mb-5"> After reviewing and gaining insights from our research we moved onto iterating over the features we would like in our application. This would range from deciding the intended user-flow, addressing key pain points from our insights, and finally a system map to base the flow on</p>
    
<div class="row justify-content-around mt-3 mb-5">
    <h3 class="mt-3 mb-2">Key Solution Elements from Needs</h3>
    <br>
    <div class="card  mt-5" style="max-width: 15rem; max-height: 15rem;">
        <div class="card-body">
          <div class="row">
           
            <p class="card-title">Effective communication needs to be established to allow for negotiable fares and a better understanding of the ride.</p>
          </div>
        </div>
      </div>

      <div class="card   mt-5" style="max-width: 15rem; max-height: 15rem;">
        <div class="card-body">
          <div class="row">
           
            <p class="card-title" >After booking a ride, can share the live location for safety purposes..</p>
          </div>
        </div>
      </div>

      <div class="card   mt-5" style="max-width: 15rem; max-height: 15rem;">
        <div class="card-body">
          <div class="row">
            
            <p class="card-title" >Riders are trustworthy, but for reliability, student IDs and licenses need to be verified.</p>
          </div>
        </div>
      </div>
</div>

</div>
<br>
<br>
<div class="container">
    <H3>System Map</H3>
    <img [src]="'../assets/images/systemmap.PNG'" id="mainimg">
    
</div>

<br>
<br>
<div class="container-fluid">
    <H3>Low Fidelity Wireframes</H3>
</div>
<!-- <img [src]="'../assets/images/low.png'" id="mainimg"> -->


<H3 class="mt-5 mb-3">Getting Started with Login Page</H3>

<div class="container">
    <div class="row mt-3 justify-content-center">
        <img [src]="'../assets/images/intro1.png'" class="img-fluid" style="max-height: 500px; max-width: 250px; border-radius: 1rem;" alt="Started">
        <img [src]="'../assets/images/intro4.png'" class="img-fluid" style="max-height: 500px; max-width: 250px; border-radius: 1rem;" alt="">
        <img [src]="'../assets/images/intro2.png'" class="img-fluid" style="max-height: 500px; max-width: 250px; border-radius: 1rem;" alt="">
        <img [src]="'../assets/images/intro3.png'" class="img-fluid" style="max-height: 500px; max-width: 250px; border-radius: 1rem;" alt="">
        <!-- <div class="col-md-5 col-6 col-sm-6 col-xl-3  justify-content-end">
            <img [src]="'../assets/images/intro1.png'" class="img-fluid" style="max-height: 500px; max-width: 250px; border-radius: 1rem;" alt="">
            <p style="margin-left: 4.5rem;">Getting started</p>
        </div>
        <div class="col-md-5 col-6 col-sm-6 col-xl-3  justify-content-end">
            <img [src]="'../assets/images/intro4.png'" class="img-fluid" style="max-height: 540px; max-width: 260px; border-radius: 1rem;" alt="">
            <p style="margin-left: 4.5rem;">Login Page</p>
        </div>
        <div class="col-md-5 col-6 col-sm-6 col-xl-3  justify-content-end">
            <img [src]="'../assets/images/intro2.png'" class="img-fluid" style="max-height: 500px; max-width: 250px; border-radius: 1rem;" alt="">
            <p style="margin-left: 4.5rem;">Sign-up page 1</p>
        </div>
        <div class="col-md-5 col-6 col-sm-6 col-xl-3  justify-content-end">
            <img [src]="'../assets/images/intro3.png'" class="img-fluid" style="max-height: 540px; max-width: 260px; border-radius: 1rem;" alt="">
            <p style="margin-left: 4.5rem;">Sign-up page 2</p>
        </div>-->
       
        </div>
    

</div>

  
 

<div class="row mt-3 d-flex justify-content-center">
    <img [src]="'../assets/images/co1.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
   
   <img [src]="'../assets/images/co2.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
  
   <img [src]="'../assets/images/co8.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
   <img [src]="'../assets/images/co5.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
  </div>
  <div class="row mt-3 d-flex justify-content-center">
    <img [src]="'../assets/images/co7.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
    <img [src]="'../assets/images/co9.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
    <img [src]="'../assets/images/co10.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
    <img [src]="'../assets/images/co11.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
  </div>
  <br>
  <br>
  <h6>Complete all screens designs</h6>
  <div class="container">
    <img [src]="'../assets/images/coride1.jpg'" id="mainimg">
<br>
    <h5>Takeaways</h5>
  <hr>
 <p>Being the listener<br>
    <br>
    Conducting remote interviews really put me on the spot, but I was able to find my footing. I did my best to let conversations free-flow so I could gain unique insights from each of my interviews. Often I would get similar opinions but frustrations that varied. Each interview provided me with new perspectives that I could incorporate into our brain-storming.</p>


  </div>