#mainimg{
    width:100%;
    display:block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-control-prev{
    height:100px;
    width:60px;
    margin-top:200px;
    background-color:#7d2827;
}
.carousel-control-next{
    height:100px;
    width:100px;
    margin-top:200px;
    background-color:#7d2827;
}
.carousel-control-next:hover{
    background-color:#c22d2d;
}
#intro{
    background-color:#e2eef0;
}
.card{
    border-radius: 1.2rem;
    border: 3px solid #c0c2c2;;
}