<img [src]="'../assets/images/coride4.png'" id="mainimg">
<div id="intro">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7">
                <p class="mt-5">
                    University students are in need of a centralized platform to navigate the complexities of Travelling, which is budget friendly, safe and more flexible to choose,
                </p>
            </div>
            <div class="col-xl-10">
                <p class="mb-5">
    “How might we design an intuitive app that centralizes rides Problems faced my internationl and Local University students.
                </p>
            </div>

        </div>

    </div>

</div>
<div class="row mt-3 d-flex justify-content-center">
    <img [src]="'../assets/images/co1.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
   
   <img [src]="'../assets/images/co2.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
   <img [src]="'../assets/images/co3.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
   <img [src]="'../assets/images/co4.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
   <img [src]="'../assets/images/co6.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
   <img [src]="'../assets/images/co5.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
  </div>
  <div class="row mt-3 d-flex justify-content-center">
    <img [src]="'../assets/images/co7.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
    <img [src]="'../assets/images/co9.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
    <img [src]="'../assets/images/co10.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
    <img [src]="'../assets/images/co11.png'" class="img-fluid" style="max-height: 400px; max-width: 200px; border-radius: 1rem;" alt="">
  </div>
 <p>working on full case study it will be updated as soon as posiible... Thank you for stopping by</p>
